.box{
    float:right;
    margin-right:20px;
    margin-bottom: 20px;
}
.clear{
    clear:both;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Arimo';font-size: 1rem;
  }
  
  form.otsing input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.otsing button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.otsing button:hover {
    background: #0b7dda;
  }

  form.otsing::after {
    content: "";
    clear: both;
    display: table;
  }

.otsing {
    float:left;
}



.row {
  display: flex;
  flex-wrap: wrap;
}


.column {
  flex: 25%;
  padding: 20px;
}


@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}


@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

.andurid {
  display:flex;
  flex-direction: row;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.raja-tegevused {
  display: flex;
  justify-content: space-between;
}

.container-raja-nimi {
  padding: 15px;
  text-align: left;
}

.container-dropdown {
  padding: 15px;
}

.anduri-drop {
  border: 1px solid black;
  
  font-size: 15px;
}

.andur-lisa {
  margin-left:15px;
}